@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    .card, .card-body {
        background-color: #f8f9fa; /* Light grey background color */
        border-radius: 15px; /* Rounded corners */
        font-family: 'Arial', sans-serif; /* Font family */
    }

    .card-title {
        color: #343a40; /* Dark text color */
    }

    .card-text {
        color: #6c757d; /* Grey text color */
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card custom-shadow">
                    <img src="./Images/buffbackground.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Quote of the Day</h5>
                        <p class="card-text">"Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful." - Albert Schweitzer</p>
                    </div>
                </div>
            </div>
        </div>


    <!-- New row for bottom two cards -->
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 custom-shadow">
                <div class="card-body">
                        <h5 class="card-title text-center">Welcome to Daddies International Banking Service</h5>
                    <p class="card-text text-center">We provide secure and convenient banking solutions tailored to your needs.</p>
                    <p class="card-text text-center">Start managing your finances with ease.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 custom-shadow">
                <div class="card-body">
                    
                    <h5 class="card-title text-center">Our Mission</h5>
                    <p class="card-text">Our mission is to help our clients achieve maximum gains on their investments while providing excellent customer service and maintaining the highest level of integrity.</p>
                </div>
                <!-- Card content here -->
            </div>
        </div>
    </div>
</div>
