@model CST_326.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<div class="login-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("ProcessLogin", "Account", FormMethod.Post))
                {
                    <div class="card custom-card mt-5">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body">
                            <form class="p-4 p-md-5 border rounded-3 bg-light">
                                <div class="form-floating mb-3">
                                    <input asp-for="UserName" class="form-control" id="floatingInput" placeholder="JohnDoe">
                                    @Html.LabelFor(m => m.UserName)
                                    <div style="color:red">
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    @Html.LabelFor(m => m.Password)
                                    <div style="color:red">
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
